<div class="card card-login">
    <h2 class="text-center mb-4">Iniciar Sesión</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email"
                placeholder="nombre@ejemplo.com" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"
                placeholder="Contraseña" required>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Entrar</button>
        </div>
        <div class="mt-3 text-center">
            <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</div>