<div class="login-container" style="background-image: url('images/fondo_login.jpg');">
    <!--<div class="login-form">-->
    <div class="card-principal">
        <div class="card card-login">
            <h2 class="text-center mb-4">Sistema de Control Logístico - MOVIFY</h2>
            <form [formGroup]="userForm">
                <div class="mb-3">
                    <label for="login" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="login" name="login" formControlName="login"
                        placeholder="Usuario" required>
                </div>
                <div class="mb-3">
                    <label for="clave" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="clave" name="clave" formControlName="clave"
                        placeholder="Contraseña" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()" >Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>