/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.datatable-header-inner {
    color: white;
    background: #003366;
    --bs-bg-opacity: 1;
    font-size: 15px;
}

.datatable-body-row{
    font-size: 15px;
}

.datatable-footer-inner {
    background-color: #212529;
    font-size: 13px;
}