<div class="mb-4">
    <h1>Gestión de Proveedores</h1>
    <hr>
</div>

<div class="container mb-3">
    <div class="row">
        <div class="col-md-3 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Buscar por RUC</mat-label>
                <input matInput [(ngModel)]="filter.ruc" (input)="RG.number($event)" maxlength="11">
            </mat-form-field>
        </div>
        <div class="col-md-3 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Buscar por Razón Social</mat-label>
                <input matInput [(ngModel)]="filter.razonSocial" (input)="RG.text($event)" maxlength="255">
            </mat-form-field>
        </div>
        <div class="col-md-3 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Buscar por Nombre Comercial</mat-label>
                <input matInput [(ngModel)]="filter.nombreComercial" (input)="RG.text($event)" maxlength="255">
            </mat-form-field>
        </div>

        <div class="col-md-3 d-flex justify-content-start align-items-center mb-3">
            <button class="btn btn-primary" (click)="search()">
                <i class="fas fa-search"></i>
            </button>
            <button class="btn btn-secondary" (click)="cleanSearch()" style="margin-left: 10px;">
                <i class="fas fa-eraser"></i>
            </button>
        </div>
    </div>
</div>


<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-success" (click)="openAdd()">
        <i class="fas fa-plus"></i>
    </button>
</div>

<ngx-datatable class="bootstrap" [rows]="result" [columns]="columns" [limit]="5" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">

    <ng-template #colAccionTemplate let-row="row">
        <button class="btn btn-warning btn-sm" (click)="openEdit(row)">
            <i class="fas fa-pencil"></i>
        </button>
        <button class="btn btn-danger btn-sm" style="margin-left: 5px;" (click)="delete(row)">
            <i class="fas fa-trash"></i>
        </button>
    </ng-template>

</ngx-datatable>

<ng-template #dialogTemplate>
    <h2 mat-dialog-title>{{ record.id ? 'Editar Proveedor' : 'Agregar Proveedor' }}</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Ruc</mat-label>
            <input matInput [(ngModel)]="record.ruc" (input)="RG.number($event)" maxlength="11" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Razón Social</mat-label>
            <input matInput [(ngModel)]="record.razonSocial" (input)="RG.text($event)" maxlength="255" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Nombre Comercial</mat-label>
            <input matInput [(ngModel)]="record.nombreComercial" (input)="RG.text($event)" maxlength="255" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Dirección</mat-label>
            <input matInput [(ngModel)]="record.direccion" (input)="RG.address($event)" maxlength="255">
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Teléfono</mat-label>
            <input matInput [(ngModel)]="record.telefono" (input)="RG.number($event)" maxlength="20">
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Correo</mat-label>
            <input matInput [(ngModel)]="record.correo" (input)="RG.email($event)" maxlength="100">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="dialogRef.close()">Cancelar</button>
        <button mat-flat-button color="primary" (click)="save()">Guardar</button>
    </mat-dialog-actions>
</ng-template>